cirq~=0.11.0
seaborn
sphinx
ipython

# optimize
scikit-learn

# qaoa
networkx
pytket~=0.7.1
pytket-cirq~=0.7.0

# quantum chess, only needed for tests
scipy

# hfvqe
openfermion~=1.0.0

# fermi_hubbard
tqdm  # notebook progress bars

# otoc
Py-BOBYQA