cirq-core~=0.11.1
cirq-google~=0.11.0
seaborn
sphinx
ipython
black

# optimize
scikit-learn

# qaoa
networkx
pytket~=0.8
pytket-cirq~=0.8

# quantum chess, only needed for tests
scipy

# hfvqe
openfermion~=1.1.0

# fermi_hubbard
tqdm  # notebook progress bars

# otoc
Py-BOBYQA
