div.output_area img {
    /* Prevent circuits from being scaled down;
       instead, it will use a scroll bar */
    max-width: none;
}

/* Make alabaster theme breathe a bit: */
div.body {
    max-width: 1000px;
}
div.document {
    width: 1220px;
}
